body {
  background-color: #121212;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    padding: 2rem;
    padding-bottom: 4rem;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  main {
    flex: 1;
  }

  footer {
    width: 100%;
    padding: 3rem;
  }
}
